* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f4f4f4;
}

header {
    background: #4f46e5;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

main {
    padding: 40px;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

button {
    border: none;
    background: #4f46e5;
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #3730a3;
}

.formulario {
    background: white;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.escondido {
    display: none;
}

input,
select,
textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

textarea {
    height: 120px;
    resize: none;
}

.container-duvidas {
    display: grid;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    color: #4f46e5;
    margin-bottom: 10px;
}

.info {
    margin-bottom: 8px;
    color: #555;
}

#filtroPrioridade {
    margin-bottom: 20px;
    width: 250px;
}

.alterarStatus {
    margin-top: 15px;
    width: 100%;
}